<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="EkomERP"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.ekom.ekomerp.entity.Product</class>
        <class>com.ekom.ekomerp.entity.Category</class>
        <class>com.ekom.ekomerp.entity.Unit</class>
        <class>com.ekom.ekomerp.entity.Operation</class>
        <class>com.ekom.ekomerp.entity.Laboriousness</class>
        <class>com.ekom.ekomerp.entity.Consumption</class>
        <class>com.ekom.ekomerp.entity.Location</class>
        <class>com.ekom.ekomerp.entity.StockMovement</class>
        <class>com.ekom.ekomerp.entity.StockMovementLine</class>
        <class>com.ekom.ekomerp.entity.Inventory</class>
        <class>com.ekom.ekomerp.entity.Partner</class>
        <class>com.ekom.ekomerp.entity.Country</class>
        <class>com.ekom.ekomerp.entity.Region</class>
        <class>com.ekom.ekomerp.entity.PurchaseOrder</class>
        <class>com.ekom.ekomerp.entity.PurchaseOrderLine</class>
        <class>com.ekom.ekomerp.entity.PaymentCondition</class>
        <class>com.ekom.ekomerp.entity.ManufacturingOrder</class>
        <class>com.ekom.ekomerp.entity.ManufacturingOrderLine</class>
        <class>com.ekom.ekomerp.entity.Invoice</class>
        <class>com.ekom.ekomerp.entity.InvoiceLine</class>
        <class>com.ekom.ekomerp.entity.PricingType</class>
        <class>com.ekom.ekomerp.entity.ProductPrice</class>
        <class>com.ekom.ekomerp.entity.Calculation</class>
        <class>com.ekom.ekomerp.entity.CalculationMaterialLine</class>
        <class>com.ekom.ekomerp.entity.CalculationLaboriousnessLine</class>
    </persistence-unit>
</persistence>
